<div class="card">
    <div class="p-3">
        <span class="title">{{title}} Branch</span>
    </div>
    <hr class="m-0">
    <div class="p-3">
        <form>
            <div class="sub-title">Basic Info.</div>
            <div class="row mt-2 px-1">
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Company*</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Type*</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Code*</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Name*</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Manager*</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Status*</label>
                        <select name="status" class="form-select">
                            <option value="open">Open</option>
                            <option value="closed">Closed</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Opening Date*</label>
                        <input type="date" class="form-control">
                    </div>
                </div>
            </div>

            <div class="sub-title mt-4">Address</div>
            <div class="row mt-2 px-1">
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Address 1*</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Address 2</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Landmark</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">State*</label>
                        <select name="state" class="form-select"></select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">City*</label>
                        <select name="state" class="form-select"></select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Pincode*</label>
                        <input name="state" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Latitude</label>
                        <input name="state" class="form-control">
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Longitude</label>
                        <input name="state" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Zone*</label>
                        <select name="state" class="form-select"></select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Status*</label>
                        <select name="state" class="form-select"></select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr class="m-0">
    <div class="d-flex justify-content-end p-3">
        <button class="btn btn-primary-outline" [routerLink]="'/app/master/admin/branch-dashboard'">Cancel</button>
        <button class="btn btn-primary ms-2">{{title=='Add'?'Save':'Update'}}</button>
    </div>
</div>