<div class="card">
    <div class="p-3">
        <span class="title">{{title}} Account Ledger</span>
    </div>
    <hr class="m-0">
    <div class="p-3">
        <form>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Name</label>
                        <input type="text" class="form-control" name="name" appOnlyalphanumeric>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Tally Account Name</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Branch</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Ledger Group</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Group Type</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Group Name</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Bill Account</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">TDS Apply</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Status</label>
                        <select name="state" class="form-select"></select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr class="m-0">
    <div class="d-flex justify-content-end p-3">
        <button class="btn btn-primary-outline"
            [routerLink]="'/app/master/accounts/account-ledger-dashboard'">Cancel</button>
        <button class="btn btn-primary ms-2">{{title=='Add'?'Save':'Update'}}</button>
    </div>
</div>