<div class="card">
    <div class="p-3">
        <span class="title">{{title}} City</span>
    </div>
    <hr class="m-0">
    <div class="p-3">
        <form>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Name</label>
                        <input type="text" class="form-control" name="name" appOnlyalphanumeric>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Code</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3 d-flex flex-column">
                    <div class="form-field">
                        <label class="label">Phone</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="form-field">
                        <label class="label">Phone</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="form-field">
                        <label class="label">Phone</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">D.O.B</label>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">State</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Operation Zone*</label>
                        <select name="company" class="form-select">
                            <option>Centrtal</option>
                            <option>East</option>
                            <option>West</option>
                            <option>North</option>
                            <option>South</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Branch</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Status*</label>
                        <select name="state" class="form-select">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr class="m-0">
    <div class="d-flex justify-content-end p-3">
        <button class="btn btn-primary-outline" [routerLink]="'/app/master/fleet/driver-dashboard'">Cancel</button>
        <button class="btn btn-primary ms-2">{{title=='Add'?'Save':'Update'}}</button>
    </div>
</div>