<div class="card">
    <div class="p-3">
        <span class="title">{{title}} Driver</span>
    </div>
    <hr class="m-0">
      
      <!-- Camera Modal -->
      <div class="modal" *ngIf="showModal">
       <div class="card" style="width: 35%;" >
        <div class="modal-content" >
            <video #video autoplay style="width: 100%;height: 100%;"></video><br>
            <button class="btn btn-primary" (click)="capture()">Capture</button>
            <button class="btn btn-primary-outline mt-3" (click)="closeCamera()">Close</button>
          </div>
       </div>
      </div>
      
    <div class="p-3">
        <form>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Name</label>
                        <input type="text" class="form-control" name="name" appOnlyalphanumeric>
                    </div>
                    <div class="form-field mt-4">
                        <label class="label">D.O.B</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-field mt-4">
                        <label class="label">Father's Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-field mt-4">
                        <label class="label">Last Working Date</label>
                        <input type="date" class="form-control" name="code">
                    </div>
                    <div class="form-field mt-4">
                        <label class="label">Ledger Account No.</label>
                        <input type="number" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Code</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                    <div class="form-field mt-4">
                        <label class="label">Religion</label>
                        <select type="text" class="form-select" name="code">
                            <option value="0">Select Religion</option>
                            <option value="1">Hindu</option>
                            <option value="2">Muslim</option>
                            <option value="3">Christian</option>
                            <option value="4">Sikh</option>
                            <option value="5">Jain</option>
                            <option value="6">Buddhist</option>
                        </select>
                    </div>
                    <div class="form-field mt-4">
                        <label class="label">Mother's Name</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                    <div class="form-field mt-4">
                        <label class="label">Guarantor Name(Code)</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                    <div class="form-field mt-4">
                        <label class="label">Happy Card No.</label>
                        <input type="number" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Phone</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                    <div class="form-field mt-4">
                        <label class="label">Marital Status</label>
                        <select type="text" class="form-select" name="code">
                            <option value="Married">Married</option>
                            <option value="Single">Unmarried</option>
                        </select>
                    </div>
                    <div class="form-field mt-4">
                        <label class="label">Date of Joining</label>
                        <input type="date" class="form-control" name="code">
                    </div>
                    <div class="form-field mt-4">
                        <label class="label">Guarantor Video</label>
                        <input type="file" class="form-control" name="code" accept="video/*">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-s-12 mt-4 d-flex flex-column">
                   <div class="photo-card shadow" (click)="openCamera()">
                     <img *ngIf="!capturedImage" class="captured-img" src="https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg" alt="">
                     <img *ngIf="capturedImage" [src]="capturedImage" alt="Captured" class="captured-img">

                   </div>
                </div>
            </div>

            <div class="sub-title my-3">
                Current Address
            </div>
            
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-field">
                        <label class="label">Address 1</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-field">
                        <label class="label">Address 2</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-field">
                        <label class="label">State</label>
                        <select type="text" class="form-select" name="code">
                            
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-field">
                        <label class="label">City</label>
                        <select type="text" class="form-select" name="code">

                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                    <div class="form-field">
                        <label class="label">Pincode</label>
                        <select type="text" class="form-select" name="code">

                        </select>
                    </div>
                </div>
            </div>

            
            <div class="sub-title my-3">
                Permanent Address
            </div>
            
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-field">
                        <label class="label">Address 1</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-field">
                        <label class="label">Address 2</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-field">
                        <label class="label">State</label>
                        <select type="text" class="form-select" name="code">

                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-field">
                        <label class="label">City</label>
                        <select type="text" class="form-select" name="code">

                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                    <div class="form-field">
                        <label class="label">Pincode</label>
                        <select type="text" class="form-select" name="code">

                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                    <div class="form-field">
                        <label class="label">Driver Status</label>
                        <select type="text" class="form-select" name="code">

                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                    <div class="form-field">
                        <label class="label">Last Status Date</label>
                        <input type="date" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                    <div class="form-field">
                        <label class="label">Status</label>
                        <select type="text" class="form-select" name="code">

                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                    <div class="form-field">
                        <label class="label">Remarks</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr class="m-0">
    <div class="d-flex justify-content-end p-3">
        <button class="btn btn-primary-outline" [routerLink]="'/app/master/fleet/driver-dashboard'">Cancel</button>
        <button class="btn btn-primary ms-2">{{title=='Add'?'Save':'Update'}}</button>
    </div>
</div>