.photo-card{
    border: 1px solid rgb(208, 208, 208);
    border-radius: 10px;
    max-height: 280px;
    padding: 13px 8px;
    cursor: pointer;
    // background-image: url(https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg);
}
  
  .modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    // border-radius: 10px;
    text-align: center;
  }
  
  video {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .captured-img {
    height: 254px;
    width: 100%;
    border-radius: 11px;
    object-fit: contain;
    // border: 1px solid #ccc;
  }
  