<div class="card">
    <div class="p-3 d-flex justify-content-between">
        <span class="title">{{title}} Vechile Model</span>
        <i class="fa-solid fa-x pointer" (click)="close()"></i>
    </div>
    <hr class="m-0">
    <div class="p-3">
        <form>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-s-12 mt-2">
                    <div class="form-field">
                        <label class="label">Brand</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Emission Standard</label>
                        <select name="company" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-s-12 mt-2">
                    <div class="form-field">
                        <label class="label">Model Name</label>
                        <input type="text" class="form-control" name="name" appOnlyalphanumeric>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-s-12 mt-2">
                    <div class="form-field">
                        <label class="label">Tyres</label>
                        <input type="number" class="form-control" name="name" appOnlyalphanumeric>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Status*</label>
                        <select name="state" class="form-select">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr class="m-0">
    <div class="d-flex justify-content-end p-3">
        <button class="btn btn-primary-outline" (click)="close()">Cancel</button>
        <button class="btn btn-primary ms-2">{{title=='Add'?'Save':'Update'}}</button>
    </div>
</div>