<div class="card">
    <div class="p-3">
        <span class="title">{{title}} Fleet Control</span>
    </div>
    <hr class="m-0">
    <div class="p-3">
        <form>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-s-12 mt-2">
                    <div class="form-field">
                        <label class="label">Name</label>
                        <input type="text" class="form-control" name="name" appOnlyalphanumeric>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-s-12 mt-2">
                    <div class="form-field">
                        <label class="label">Company</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Hub</label>
                        <select name="company" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Fleet Supevisor</label>
                        <select name="company" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Status*</label>
                        <select name="state" class="form-select">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Description</label>
                        <textarea type="text" class="form-control" rows="2"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr class="m-0">
    <div class="d-flex justify-content-end p-3">
        <button class="btn btn-primary-outline" (click)="close()">Cancel</button>
        <button class="btn btn-primary ms-2">{{title=='Add'?'Save':'Update'}}</button>
    </div>
</div>