<div class="header">
    <div style="margin-top: 10px;">
        <div class="header-menus">
            <i class="fa-solid fa-bars pointer d-md-none pt-2" (click)="toggleSidebar()"></i>
            <div class="d-flex align-items-center gap-2 pointer">
                <div class="d-flex align-items-center pt-2">
                    <div class="username">Shubham Chauhan</div>
                    <i class="fa-solid fa-right-from-bracket pointer ms-3" (click)="logOut('auth/login')"></i>
                </div>
            </div>
        </div>
    </div>
</div>