<div class="card">
    <div class="p-3">
        <span class="title">{{title}} Employee</span>
    </div>
    <hr class="m-0">
    <div class="p-3">
        <form>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">First Name</label>
                        <input type="text" class="form-control" name="name" appOnlyalphanumeric>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Last Name</label>
                        <input type="text" class="form-control" name="name" appOnlyalphanumeric>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Code</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Type</label>
                        <select name="type" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Company</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">D.O.B</label>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Phone*</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Email*</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Department</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Designation</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Address 1*</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Address 2</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">State*</label>
                        <select name="state" class="form-select"></select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">City*</label>
                        <select name="state" class="form-select"></select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Pincode*</label>
                        <input name="state" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Status*</label>
                        <select name="state" class="form-select">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr class="m-0">
    <div class="d-flex justify-content-end p-3">
        <button class="btn btn-primary-outline" [routerLink]="'/app/master/admin/employee-dashboard'">Cancel</button>
        <button class="btn btn-primary ms-2">{{title=='Add'?'Save':'Update'}}</button>
    </div>
</div>