<div class="card">
    <div class="p-3">
        <span class="title">{{title}} Vechile</span>
    </div>
    <hr class="m-0">
    <div class="p-3">
        <form>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-s-12 mt-2">
                    <div class="form-field">
                        <label class="label">Number</label>
                        <input type="text" class="form-control" name="name" appOnlyalphanumeric>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-2">
                    <div class="form-field">
                        <label class="label">Fleet Trffic</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-2">
                    <div class="form-field">
                        <label class="label">Fleet Coordinator(EMP Code)</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-2">
                    <div class="form-field">
                        <label class="label">Brand</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-2">
                    <div class="form-field">
                        <label class="label">Model</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-2">
                    <div class="form-field">
                        <label class="label">Type</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-2">
                    <div class="form-field">
                        <label class="label">Segment</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-2">
                    <div class="form-field">
                        <label class="label">Emission Standard</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Total Tyres</label>
                        <input type="number" name="company" class="form-control">
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Mfg Year</label>
                        <input type="number" name="company" class="form-control">
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Purchase Date</label>
                        <input type="date" name="company" class="form-control">
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">AMC Upto Date</label>
                        <input type="date" name="company" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Chassis No.</label>
                        <input type="number" name="company" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Engine No.</label>
                        <input type="number" name="company" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Capacity(Ton)</label>
                        <input type="number" name="company" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Empty vechile Weight(Ton)</label>
                        <input type="number" name="company" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Capacity Good Weight(Ton)</label>
                        <input type="number" name="company" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Gross Weight(Ton)</label>
                        <input type="number" name="company" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Height(feet)</label>
                        <input type="number" name="company" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Width(feet)</label>
                        <input type="number" name="company" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Length(feet)</label>
                        <input type="number" name="company" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Ac/Non-Ac</label>
                        <select type="number" name="company" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Registration Date</label>
                        <input type="date" name="company" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Ownership Type</label>
                        <select type="text" class="form-select" name="name">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Owner Name</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Hypothecated</label>
                        <select type="text" class="form-select" name="name">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Hypothecated By Bank</label>
                        <select type="text" class="form-select" name="name">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Dealor</label>
                        <select name="state" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Dealor Type</label>
                        <select name="state" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Ledger Account</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Status</label>
                        <select name="state" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Device Type</label>
                        <select name="state" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Device IMEI</label>
                        <input type="number" name="state" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">Device Installation Date</label>
                        <input type="date" name="state" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-4">
                    <div class="form-field">
                        <label class="label">GPS Vendor</label>
                        <select type="" name="state" class="form-select"></select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr class=" m-0">
    <div class="d-flex justify-content-end p-3">
        <button class="btn btn-primary-outline"
            [routerLink]="'/app/master/fleet/vechile-master-dashboard'">Cancel</button>
        <button class="btn btn-primary ms-2">{{title=='Add'?'Save':'Update'}}</button>
    </div>
</div>