<div class="card">
    <div class="p-3">
        <span class="title">{{title}} City</span>
    </div>
    <hr class="m-0">
    <div class="p-3">
        <form>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Name</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">CIN</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Group</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Type</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Status</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Category</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">LOB</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Is Customer GR</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Is Freight First GR Only</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Is Bill Date Manual</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Address 1</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Address 2</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">State</label>
                        <select name="company" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">City</label>
                        <select name="company" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Pincode</label>
                        <select name="company" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Person Name</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Account Manager</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Website URL</label>
                        <input type="number" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">GST Registered</label>
                        <select class="form-select" name=" code"></select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">GST Number</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">GST State Code</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">TIN Number</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">PAN Number</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">DGFC Vendor Code</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">DGFC Vendor Rating</label>
                        <select name="company" class="form-select">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Credit Limit</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-s-12 mt-3">
                    <div class="form-field">
                        <label class="label">Is Active</label>
                        <select name="state" class="form-select">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr class="m-0">
    <div class="d-flex justify-content-end p-3">
        <button class="btn btn-primary-outline"
            [routerLink]="'/app/master/credit-control/customer-master-dashboard'">Cancel</button>
        <button class="btn btn-primary ms-2">{{title=='Add'?'Save':'Update'}}</button>
    </div>
</div>